@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  font-family: 'Kanit', sans-serif;
  font-family: 'Roboto', sans-serif;
}

.products {
  position: relative;
}

.products-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.products-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.products:hover .products-content {
  display: block;
}

.products-content a:hover{
  background-color: #ddd;
}

.contact {
  position: relative;
}

.contact-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.contact-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.contact:hover .contact-content {
  display: block;
}

.contact-content a:hover{
  background-color: #ddd;
}

ul{
  text-decoration: none;
  padding:0;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-button-prev{
  color: black !important;
}

.swiper-button-next{
  color: black !important;
}

.swiper-pagination-bullet{
  color: black !important;
}

.swiper-pagination-bullet-active{
  color: black !important;
}